<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예약 테스트</title>
</head>
<body>
    <form action="예약 컨트롤러 주소"  method="post">
        <input type="text" name="rsrv_pla" vlaue="123456"><br>
        <input type="text" name="req_user" value="Reserve Tester"><br>
        <input type="text" name="req_tel" value="010-1234-5678"><br>
        <input type="text" name="rsrv_cnt" value="3"><br>
        <input type="text" name="req_time" value="2022-04-10 12:00"><br>
        <button type="submit">예약</button>
    </form>
</body>
</html>
